* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article h2 {
  color: #D3573C;
  font-size: 36px;
  text-decoration: none;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.photographer_section article .location {
  color: #901C1C;
  font-size: 13px;
}
.photographer_section article .tagline {
  font-size: 12px;
}
.photographer_section article .price {
  font-size: 12px;
  color: #525252;
}

#contact_modal {
  display: none;
}

main {
  margin-bottom: 80px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.photograph-header img {
  order: 3;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.photograph-header .info {
  order: 1;
}
.photograph-header .info .name {
  color: #D3573C;
  font-size: 46px;
  text-decoration: none;
}
.photograph-header .info .location {
  color: #901C1C;
  font-size: 22px;
}
.photograph-header .info .tagline {
  font-size: 20px;
  color: #525252;
  margin-top: 20px;
}

.contact_button {
  order: 2;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover, .contact_button:focus {
  color: black;
  background-color: #D3573C;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: absolute;
  top: 10vh;
  right: 30px;
  left: 30px;
}
.modal header {
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.modal header img {
  cursor: pointer;
  align-self: flex-start;
}
.modal header h2 {
  font-size: 60px;
  font-weight: normal;
}
.modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.modal form label {
  color: #312E2E;
  font-size: 36px;
}
.modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin: 12px 0;
}
.modal form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 30px;
}
.modal form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 30px;
}

.photo_section {
  margin: 50px 100px;
}
.photo_section .filters label {
  font-size: 18px;
  font-weight: 600;
}
.photo_section .filters select {
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 11px;
  width: 170px;
  /* height: 70px; */
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 50px;
}
.cards article {
  height: 40vh;
  width: 20vw;
  border-radius: 5px;
}
.cards img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.cards video {
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.cards .card-info {
  display: flex;
  justify-content: space-between;
}
.cards .card-info h2 {
  color: #901C1C;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cards .card-info span {
  align-self: center;
  font-size: 18px;
  font-weight: 600;
  color: #901C1C;
  margin: 3px;
}
.cards .card-info .fas {
  font-size: 18px;
  align-self: center;
  margin: 3px;
  color: #901C1C;
}
.cards .card-info .like {
  display: flex;
}

.insert {
  width: 300px;
  height: 70px;
  background-color: #D3573C;
  position: fixed;
  bottom: 0;
  right: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.insert .total-likes {
  display: flex;
  margin: 5px;
  font-size: 24px;
  font-weight: 600;
  align-items: center;
}
.insert .total-likes p {
  margin: 3px;
}
.insert .total-likes .fas {
  margin: 3px;
}
.insert .price {
  margin: 5px;
  font-size: 24px;
  font-weight: 600;
}

#lightbox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #808080ad;
  top: 0;
  display: none;
}
#lightbox.show {
  display: flex;
}
#lightbox .content {
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  border-radius: 10px;
  position: relative;
}
#lightbox .content .picture {
  height: 85%;
  width: 500px;
  object-fit: contain;
  align-self: center;
}
#lightbox .content .movie {
  height: 85%;
  width: 500px;
  object-fit: contain;
  align-self: center;
}
#lightbox .content .close {
  position: absolute;
  right: 0;
  margin: 0 10px;
  cursor: pointer;
  font-size: 30px;
  color: #901C1C;
  font-weight: 600;
  height: auto;
}
#lightbox .content .next {
  cursor: pointer;
  height: 30px;
  padding: 10px;
  align-self: center;
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: 800;
  color: #901C1C;
  background-color: transparent;
  border-radius: 5px;
  border: none;
}
#lightbox .content .previous {
  cursor: pointer;
  height: 30px;
  padding: 10px;
  align-self: center;
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: 800;
  color: #901C1C;
  background-color: transparent;
  border-radius: 5px;
  border: none;
}
#lightbox .content .title {
  color: #901C1C;
  position: absolute;
  bottom: 0;
  margin: 10px 10%;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
