@mixin arrow {
    cursor: pointer;
    height: 30px;
    padding: 10px;
    align-self: center;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
    color: $primary;
    background-color: transparent;
    border-radius: 5px;
    border: none;
}

@mixin media {
    height: 90%;
    width: 80%;
    object-fit: cover;
    align-self: center;
    border-radius: 5px;
}